body {
  background: url(/dist/images/jawa.png);
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-sizing: border-box;
}
.container {
  padding: 3rem;
}
.container::after {
  content: '';
  background-color: rgba(208, 212, 190, 0.5);
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
h1 span {
  color: #8d9663;
}
h1.catchphrase {
  font-weight: 500;
}
.n8n {
  position: relative;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(165, 134, 94, 0.4);
  vertical-align: middle;
  padding: 0 2%;
  z-index: 3;
}
.n8n li {
  display: inline;
}
.n8n span {
  border-color: rgba(228, 228, 84, 0.938);
  background-color: rgba(228, 228, 84, 0.938);
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  margin-right: 3px;
  padding: 2px;
}
.n8n span:hover {
  background-color: transparent;
  border-bottom: initial solid black;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin-right: -3px;
  transition: 2s ease;
}
.navlinks li {
  margin: 0 1rem;
}
.leftpull {
  position: absolute;
  left: 0%;
  padding-left: 2%;
  font-weight: 800;
}
.sand {
  padding: 16px 0;
  position: absolute;
}
.sand:hover {
  cursor: pointer;
}
.sand:hover .sandline {
  background-color: black;
}
.sandline {
  background-color: #8d9663;
  width: 1.5rem;
  height: 0.3rem;
  margin: 0.2rem;
  opacity: 1;
}
@media screen and (max-width: 480px) {
  nav {
    visibility: hidden;
  }
  nav .sand {
    visibility: visible;
  }
}
@media screen and (min-width: 480px) {
  nav {
    visibility: visible;
  }
  nav .sand {
    display: none;
  }
}
